DirectoryIndex index.php

RewriteEngine On

# منع ظهور .php في الرابط داخل dashboard
RewriteCond %{THE_REQUEST} \s([^.]+)\.php[?\s] [NC]
RewriteRule ^ %1 [R=301,L]

# إذا كان الملف أو المجلد موجود شغّله كما هو
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# تحويل الروابط بدون .php للملفات الفعلية
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.php [L,QSA]
